<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pluginConfiguration" type="HangfireService.Configuration.PluginHandlerConfigurationSection, HangfireService" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Hangfire" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="HangfireUri" value="http://localhost:8585"/>
    <add key="PluginDirectory" value="C:\Development\hangfire-plugin-service\HangfireService\Extensions"/>
  </appSettings>

  <pluginConfiguration>
    <plugins>
      <plugin-handler plugin-name="AnotherPlugin" cron-expression="*/1 * * * *" />
      <plugin-handler plugin-name="S3UpdatePlugin" cron-expression="0 6 */1 * * " />
    </plugins>
  </pluginConfiguration>
  
</configuration>